<header class="bg-slate-800">
    <nav class="mx-auto flex max-w-7xl items-center justify-between p-2 lg:px-8" aria-label="Global">
        <div class="flex lg:flex-1">
            <a href="#" class="-m-1.5 p-1.5">
                <h1 class="text-3xl text-slate-50">ZTF20aaelulu</h1>
            </a>
        </div>
        <div class="hidden lg:flex lg:gap-x-12">
            <div class="relative">
                <button type="button" class="flex items-center gap-x-1 text-sm font-semibold leading-6 text-slate-50"
                    aria-expanded="false">
                    login
                </button>
            </div>
        </div>
    </nav>
</header>
